*{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

body{
  background-color: #333;
  padding: 50px;
  max-width: 1920px;
  min-width: 1000px;
}

.card-game {
  height: 100%;
}

.form {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 50px;
}

.form__title {
  margin-bottom: 10px;
}



.form__label {
  margin-right: 25px;
  cursor: pointer;
}
.form__input {
  margin-right: 5px;
  cursor: pointer;
}

.form__button {
  min-width: 120px;
  min-height: 30px;
  background-color: antiquewhite;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.cards-container {

  display: grid;
  gap: 20px;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */
}

.card{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 100px;
  
}

 .card--solved {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity ease .5s;
  transition-delay: 1s;
} 

.card__front,
.card__back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}



.card__img{
  height: 100%;
}

.card__front{
  transform: perspective(600px) rotateY(0deg);
  background-color: #363c29;
  background-image: url("back.png");
}

.card__back{
  transform: perspective(600px) rotateY(180deg);
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card__number {
  font-size: 25px;
}

/* .card:hover > .card__front{
  transform: perspective(600px) rotateY(-180deg);
}  */

.front--active {
  transform: perspective(600px) rotateY(-180deg);
}


 /* .card:hover > .card__back{
  transform: perspective(600px) rotateY(0deg);
}  */

.back--hidden{
  transform: perspective(600px) rotateY(0deg);
}